<div class="border-bottom mt-4">
  <div class="container w-50 page-title">
    <div class="mb-4">
      <h2>応援している人の投稿</h2>
    </div>
  </div>
</div> 

<%= render 'public/posts/post_list', posts: @posts %>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @posts, theme: 'bootstrap-5' %>
</div>