<% if current_member&.guest? %>
  <div class="alert alert-warning text-center container w-50 custom-width mt-4 py-2">
    <p class="fw-bold mb-1">ゲストモードでご利用中です。</p>
    <p class="mb-0 small lh-sm">※登録すると、プロフィール・コメント<br>
    保存機能などをご利用いただけます。</p>
  </div>
<% elsif current_member %>
  <div class="border-bottom mt-4">
    <div class="container w-50 page-title">
      <h2 class="mb-4">投稿を探す</h2>
    </div>
  </div> 
<% end %>

<div class="card-list-container py-3">
  <%= render 'public/posts/search_form' %>
  <div class="w-50 mx-auto mt-4 page-title">
    <% if params[:keyword].present? || params[:genre_ids].present? %>
      <h4>検索結果（<%= @posts.total_count %> 件）</h4>
    <% else %>
      <h4>新着投稿一覧</h4>
    <% end %>
  </div>
  <%= render 'public/posts/post_list', posts: @posts %>
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @posts, theme: 'bootstrap-5' %>
  </div>
</div>
