<nav class="navbar border-bottom mt-4">
  <div class="container">
    <div class="navbar-header mb-4">
      <h2>投稿を探す</h2>
    </div>
  </div>
</nav> 

<div class="card-list-container py-5">
  <%= render 'public/posts/search_form' %>
  <div class="w-50 mx-auto mt-5">
    <% if params[:keyword].present? || params[:genre_ids].present? %>
      <h4>検索結果（<%= @posts.total_count %> 件）</h4>
    <% else %>
      <h4>新着投稿一覧</h4>
    <% end %>
  </div>
  <%= render 'public/posts/post_list', posts: @posts %>
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @posts, theme: 'bootstrap-5' %>
  </div>
</div>
