<div class="border-bottom mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <h2 class="mb-4 text-start">投稿を書く</h2>
      </div>
    </div>
  </div>
</div>

<div class="containar mt-5 px-3 px-md-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <%= render 'shared/form_error_messages', object: @post %>
      <div class="post-new-container">
        <%= form_with model: @post do |f| %>
          <%= render 'form_fields', f: f, genres: @genres, post: @post %>
          <%= f.submit "投稿", class: "btn btn-success btn-lg mx-auto d-block mb-5  responsive-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>