<nav class="navbar border-bottom mt-4">
  <div class="container w-50">
    <div class="navbar-header mb-4">
      <h2>応援している人</h2>
    </div>
  </div>
</nav>  

<div class="container w-50 followings-page mt-2">
  <div class="list-group">
    <% @followings.each do |member| %>
      <div class="d-flex justify-content-between align-items-center border-bottom py-3">
        <div class="d-flex align-items-center">
          <%= link_to member_path(member), class: "text-decoration-none link-dark d-flex align-items-center" do %>  
            <%= image_tag member.get_profile_image(40,40), class: "rounded-circle me-2" %>
            <span><%= member.name %></span>
          <% end %> 
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @followings, theme: 'bootstrap-5' %>
  </div>

</div>