<div class="border-bottom mt-4">
  <div class="container">
    <div class="w-50 mx-auto title-responsive-md">
      <h2 class="mb-4">保存した投稿</h2>
    </div>
  </div>
</div> 

<%= render 'public/posts/post_list', posts: @saved_posts %>
<div class="d-flex justify-content-center mt-4">
  <%= paginate @saved_posts, theme: 'bootstrap-5' %>
</div>