<nav class="navbar border-bottom mt-4">
  <div class="container w-50">
    <div class="navbar-header mb-4">
      <h2>保存した投稿一覧</h2>
    </div>
  </div>
</nav> 

<%= render 'public/posts/post_list', posts: @saved_posts %>