<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render "public/shared/sidebar" %>
    </div>
    <div class="col-md-10">
      <!-- メインコンテンツ -->
      <h1><%= @member.name %> さんのプロフィール</h1>
      ...
    </div>
  </div>
</div>