<% if object.errors.any? %>
  <h2 class="error-header">入力内容に不備があるようです。</h2>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
