<% if object.errors.any? %>
  <div class="alert alert-danger text-center w-100 mb-5">
    <h2 class="fs-5 fw-bold">入力内容に不備があるようです。</h2>
    <ul class="mb-0 list-unstyled">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

