<% unread_count = unchecked_notifications.count %>

<%= link_to notifications_path, class: "nav-link text-body d-flex align-items-center" do %>
  <i class="fa-regular fa-bell me-2"></i>
  <span>通知一覧</span>
  <% if unread_count > 0 %>
    <span class="badge rounded-pill bg-danger ms-2">
      <%= unread_count %>
    </span>
  <% end %>
<% end %>