@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  overflow-y: auto;
}

.pagination .page-link {
    color: black;
}
  
.pagination .page-item.active .page-link {
    background-color:#2B8666;
    color: black;
    border-color: #2B8666;
 }
 
input[type="radio"] {
    accent-color: #198754;
}

.sidebar-link-large {
    font-size: 1.1rem;   
}

.sidebar-link-large i {
  font-size: 1.2rem; 
}

#hamburgerMenu {
    z-index: 1000;
}

@media (max-width: 390px) {
    .navbar-toggler {
      font-size: 0.8rem;
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;
    }
}

@media (max-width: 500px) {
    .alert-warning.custom-width,
    .alert-success.custom-width,
    .alert-danger.custom-width { 
      width: 75% !important;
    }
  }

  @media (max-width: 576px) {
    .responsive-btn {
      font-size: 1rem;
      padding: 0.25rem 0.75rem;
    }
  }


@media (max-width: 500px) {
  .container.w-50,
  .alert-warning.custom-width,
  .alert-success.custom-width,
  .alert-danger.custom-width { 
    width: 75% !important;
  }
}
