<% if notice %>
  <div class="alert alert-success text-center container w-50 mt-4 mb-4">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger text-center container w-50 mt-4 mb-4">
    <%= alert %>
  </div>
<% end %>