<%= link_to notifications_path, class: "nav-link text-body" do %>
  <% if unchecked_notifications.any? %>
    <span class="fa-stack me-2 style="position: relative;"">
      <i class="fa-regular fa-bell n-bell fa-stack-1x"></i>
      <i class="fa-solid fa-circle n-circle fa-stack-0.5x"></i>
    </span>
  <% else %>
    <i class="fa-regular fa-bell me-2"></i>
  <% end %>
  通知一覧
<% end %>

